.git
.gitignore
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.zip
*.bin
MitoPulse_V*
MitoPulse_v*
v*_staging/
v*_staging_2/
base_system_v67_1/
RESPALDO/
data/heavy/*.bin
data/*.bin
MitoPulse_extracted/
MitoPulse_v70_extracted/
MitoPulse_v71/
MitoPulse_v72/
.gemini/
.DS_Store
